@await Html.PartialAsync("Carousel")

<div class="text-center" style="margin-top: 20px;">
    <h3>Welcome to the Sport Shop !!!</h3>
    <br>
    <h4>We have goods for every kind of discipline</h4>
</div>
