@await Html.PartialAsync("Carousel")

<div class="text-center" style="margin-top: 20px;">
    <h3>Welcome to the Sport Shop !!!</h3>
    <br>
    <h4>We have goods for every kind of discipline</h4>
</div>

<div class="jsapp">
    <div class="location">
        <h1 class="location-timezone">Timezone</h1>
        <canvas class="icon" width="128" height="128"></canvas>
    </div>
    <div class="temperature">
        <div class="degree-section">
            <h2 class="temperature-degree">34</h2>
            <span>F</span>
        </div>
        <div class="temperature-description">Its very cold</div>
    </div>
    <script src="~/Content/skycons.js"></script>
    <script src="~/Content/app.js"></script>
</div>