@model IEnumerable<string>

<div class="container">
    <a class="btn btn-block btn-primary col-8"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="All">
        All
    </a>

    @foreach (string category in Model)
    {
        <a class="btn btn-block col-8
        @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category">
            @category
        </a>
    }
</div>
